@model GameViewModel

@{
    ViewBag.Title = "Delete Game";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<section>
    <form method="post">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ImageUrl)
        @Html.HiddenFor(x => x.Title)
        <div class="row">
            <div class="col-md-4">
                <img class="card-img-top" src="@Model.ImageUrl" alt="Game Image">
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="@Model.Title" class="control-label"></label>
                    <input asp-for="@Model.Title" class="form-control" disabled="disabled" />
                </div>
                <hr />
                <div class="form-group">
                    <input type="submit" onclick="confirm('Are you sure about deleting this?')" value="Delete" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</section>